<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task CRUD Operation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <h2 class="mt-5">Update task</h2>

      <h4 class="mb-4">Instruction: You can now update or edit the fields you want.</h4>
      <form th:action="@{/saveTask}" th:object="${task}" method="POST">
          <p>Task id </p>
        <input type="hidden" th:field="*{id}"/>
        <p>Title: </p>
        <input type="text" th:field = "*{title}" class="form-control mb-4 col-4">
          <p>Description </p>
        <input type="text" th:field = "*{description}" class="form-control mb-4 col-4">
          <p>Task completed </p>
        <input type="text" th:field = "*{completed}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Update Task</button>
      </form>

      <hr>

      <span>Want to go back to task list? Click this</span> <a th:href="@{/index}">Go Back to Task List</a>
    </div>
</body>
</html>